{
  "dev": {
    "host": "http://localhost:8080",
    "email": "postulante.test@jobhorizon.com",
    "password": "SecurePassword123!"
  },
  "prod": {
    "host": "https://api.tu-dominio-aqui.com",
    "email": "correo-prod@dominio.com",
    "password": "password-prod-seguro"
  }
}
